.header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--space-md) var(--space-xs);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  color: rgba(0, 0, 0, 100%);
  display: block;
  font-size: var(--fontSans-xl);
  font-family: var(--fontFamilyLogo);
  font-weight: var(--fontWeightBoldest);
  line-height: 1.1;
  text-transform: uppercase;
}

.logoSmallText {
  color: red;
  display: block;
  font-size: var(--fontSans-m);
  font-family: var(--fontFamilyLogo);
  font-weight: var(--fontWeightBoldest);
  text-transform: uppercase;
}

<<<<<<< HEAD
.link {
  color: red;
=======
.nav {
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1;
}

.link {
  margin-left: var(--space-md);
  text-decoration: none;
  transition: color 0.2s ease;
}

.link:hover {
  color: #ccc;
}

.links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
>>>>>>> e734243... Add skeleton pages and styles
}
